<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="mystyle1.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&family=Mrs+Sheppards&display=swap" rel="stylesheet">
        <script src="MyScript6.js"></script>
        <title>RoLearning</title>
    </head>
    
    <body>
        
        <!-- Navigation -->
        
        <div id="mySidenav" class="tool">
            <a href="javascript:void(0)" class="close" onclick="closeNav()">&times;</a>
            <a href="/">Acasa</a>
            <a href="/catalog">Catalog</a>
            <a href="/orar">Orar</a>
            <a href="/tabla">Tabla</a>
            <a href="#">Materiale</a>
            <a href="/recenzii">Recenzii</a>
            <p class="j">&nbsp;</p>
            <hr>
            <button onclick="window.location.href='/login'" class="button">Log In</button>
            <button onclick="window.location.href='/signup'" class="button">Sign up</button>

            <!-- Open Navigation -->
            <dl class="sigla"id="sigla">
                <dd class="s">
                    <p>Ro<span style="color: white">Learning</span></p>
                </dd>
                <dd class="st">
                    <span onclick="openNav()">&#9776;</span>
                </dd>
                <dd class="d">
                    <p>"Daca vrei sa ajungi ajungi la stele, trebuie sa te desprinzi de pamant"</p>
                </dd>
            </dl>
        </div>
        <br><br><br>
        <div id="main" class="div">  
            
            <main class = "main">
                <div class="left-block" id = "left">
                    <image src="bac.1.jpg" class="img" width="300" height="500" style="vertical-align: middle"></image>
                </div>   
                
                <div class="right-block" id = "personal">
                <p style="font-weight: 900;">Linkuri pentru invatare</p>
                <ol>
                    <li><a href = " https://www.4bac.ro/" class="bac">Matematica</a></li>
                    <li><a href = " http://bacbioro.weebly.com/biologie.html" class="bac">Biologie</a></li>
                    <li><a href = "https://variante-mate.ro/bacalaureat/variante-  fizica" class="bac">Fizica</a></li>
                    <li><a href = "https://www.ebacalaureat.ro/cat/lectii-chimie/76" class="bac">Chimie</a></li>
                    <li><a href = " https://www.4bac.ro/" class="bac">Informatica</a></li>
                    <li><a href = " https://www.4bac.ro/" class="bac">Geografie</a></li>
                    <li><a href = " https://www.4bac.ro/" class="bac">Romana</a></li>
                    <li><a href = " https://www.4bac.ro/" class="bac">Istorie</a></li>
                    </ol>
                          
                </div>
            </main>
        
            <br /><br />
            <main id = "imgEn">
                <div class="left-block" id = "left2">
                    <image src="EN.1.jpg" class="img" width="250" height="500" style="vertical-align: middle">
                    </image>
                </div>
            
                <div class="right-block" id  = "personal2">
                
                    <p style="font-weight: 900;">Linkuri pentru invatare</p>
                    <ol>   
                        <li><a href = "https://profesorjitaruionel.com/evaluare-nationala-2020-clasa-a-8-a-variante-edu-matematica-romana/" class="bac">Variante Evaluarea Nationala 2021- clasa a VIII-a (matematica si limba romana) </a></li>
                        <br>
                        <br>
                        <li><a href = "https://www.youtube.com/watch?v=TAWjb9VDjmM" class="bac">Rezolvare Evaluare Nationala 2021 Matematica</a></li>
                    </ol>
                </div>
            </main>
            
        </div>
    </body>
</html>