
<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="catalog2.css">
<script src="catalog2.js"></script>
</head>

<body>
	<table class='table-striped' id='tabel'>
	<tr>
		<td>Nume si prenume elev</td>
		<td colspan='2'>Limba romana</td>
		<td colspan='2'>Matematica</td>
		<td colspan='2'>Limba engleza</td>
		<td colspan='2'>Limba franceza</td>
		<td colspan='2'>Informatica</td>
		<td colspan='2'>TIC</td>
		<td colspan='2'>Istorie</td>
		<td colspan='2'>Geografie</td>
		<td colspan='2'>Educatie fizica</td>
		<td colspan='2'>Fizica</td>
		<td colspan='2'>Chimie</td>
		<td colspan='2'>Stiinte socio-umane</td>
		<td colspan='2'>Educatie muzicala</td>
		<td colspan='2'>Educatie plastica</td>
	</tr>

	
	</table>
	<button id='adaugaElev' class='btn'>Adauga elev</button>
	<button id='eliminaElev' class='btn'>Elimina elev</button>
	<button onclick='salveaza()' id='salveaza' class='btn'>Salveaza</button>
</body>

</html>


